* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 30px;
    font-family: "Inter", sans-serif;
}

/* Navbar Styles */
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.nav-btn {
    margin-right: 15px;
    font-size: 1.2rem;
}

.register-btn {
    padding: 12px 20px;
    border-radius: 10px;
    background: #1D4ED8;
    color: white;
    font-weight: 800;
    border: none;
}

/* Hero Section */

.hero {
    color: white;
}

.hero-section {
    width: 100%;
    height: 700px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.78)),
        url("../assets/banner.jpg");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero-heading {
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 25px;
}

#hero-btn {
    margin-top: 19rem;
    padding: 12px 35px;
}

/* Meet speakers section */
.meet-speaker-container {
    margin-top: 50px;
    border: 1px solid red;
}

.speakers-card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    max-width: 80%;
    margin: 0 auto;
    gap: 20px;

}

/* .card-style {
    width: 460px;
} */

.card-style img {
    width: 100%;
}

.card-items {
    margin: 12px;
}

.card-items h6 {
    color: #2563EB;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.card-items h5 {
    margin-bottom: 5px;
    font-weight: 900;
}

.card-items p {
    color: gray;
    font-size: 14px;
}