* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 30px;
    font-family: "Inter", sans-serif;
}

/* Navbar Styles */
.flex {
    display: flex;
    justify-content: space-around;
}

.nav-btn {
    margin-right: 15px;
    font-size: 1.2rem;
}

.register-btn {
    padding: 12px 20px;
    border-radius: 10px;
    background: #1D4ED8;
    color: white;
    font-weight: 800;
    border: none;
}