* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 30px;
    font-family: "Inter", sans-serif;
}

/* Navbar Styles */
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.nav-btn {
    margin-right: 15px;
    font-size: 1.2rem;
}

.register-btn {
    padding: 12px 20px;
    border-radius: 10px;
    background: #1D4ED8;
    color: white;
    font-weight: 800;
    border: none;
}

/* Hero Section */

.hero {
    color: white;
}

.hero-section {
    width: 100%;
    height: 700px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.78)),
        url("../assets/banner.jpg");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero-heading {
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 25px;
}

#hero-btn {
    margin-top: 18rem;
    padding: 12px 35px;
}

/* Meet speakers section */
.meet-speaker-container {
    margin-top: 50px;
    /* border: 1px solid red; */
    margin-bottom: 120px;
}

.speakers-card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    max-width: 80%;
    margin: 0 auto;
    gap: 20px;
}

.card-style {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border: 1px solid rgb(238, 234, 234);
    border-radius: 10px;
}

.card-style img {
    width: 100%;
}

.card-items {
    margin: 12px;
}

.card-items h6 {
    color: #2563EB;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.card-items h5 {
    margin-bottom: 5px;
    font-weight: 900;
}

.card-items p {
    color: gray;
    font-size: 14px;
}

/* Secure Your Spot section */
.secure-spot-container {
    margin-bottom: 50px;
}

.secure-card-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    max-width: 80%;
    margin: 40px auto;
}

.card2 p,
h3 {
    color: white;
}

.secure-cards {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    /* border: 1px solid red; */
}

.secure-cards p {
    /* border: 1px solid red; */
    color: gray;
    margin-bottom: 5px;
}

.secure-cards h3 {
    font-size: 2rem;
    margin: 10px 0;
}

.secure-cards ul li {
    margin-top: 8px;
    margin-left: 15px;
    /* color: #333333; */
    /* color: #ffff; */
}

.secure-card-button {
    color: #1D4ED8;
    background: white;
    padding: 10px 20px;
    margin-top: 15px;
    width: 100%;
    border-radius: 10px;
}

.secure-card-container .card2 {
    background: #000;
    /* color: #0D1B2A; */
    color: #FFFFFF;
}

.card1,
.card3 {
    color: #333333;
    /* color: red; */
}

.secure-cards .btn1 {
    border: 1px solid #1D4ED8;
    font-weight: 700;
}

.secure-cards .btn2 {
    border: none;
    color: aliceblue;
    background: #1D4ED8;
    font-weight: 700;
}

.secure-cards .btn3 {
    border: 1px solid black;
    font-weight: 700;
    color: black;
}

.ticket-list li::marker {
    color: #2563EB;
}

/* Footer section styles */
.footer {
    background: #111827;
    color: #d1d5db;
    padding-top: 70px;
}

.footer-container {
    width: 85%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
}

.footer-logo {
    color: #fff;
    margin-bottom: 20px;
    font-size: 30px;
}

.footer-col h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col p {
    line-height: 1.8;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col li {
    margin-bottom: 14px;
}

.footer-col a {
    text-decoration: none;
    color: #d1d5db;
}

.social-links {
    margin-top: 25px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, .08);
    margin-top: 60px;
    padding: 25px 0;
    text-align: center;
    font-size: 12px;
}